* {
    margin: 0px;
    padding: 0px;
}

.radio {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 24px;
    line-height: 24px;
    margin-right: 20px;
}

    .radio ins {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 23px;
        height: 22px;
        vertical-align: middle;
        background: url(../square/blue.png) no-repeat;
        margin-right: 8px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
        transition: all 0.1s linear;
        vertical-align: middle;
    }

    .radio ins {
        background-position: -0px 0px;
    }

    .radio .hover {
        background-position: -24px 0px;
    }

    .radio .checked {
        background-position: -48px 0px;
    }

    .radio .enable {
        background-position: -96px 0px;
    }

    .radio .disabled {
        background-position: -72px 0px;
    }

    .radio span {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: middle;
    }

.icheck {
    width: 950px;
    margin: 100px auto;
}
